﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="templateEditAdmin.aspx.cs" Inherits="proyectoDiseno2.GUI.templateEditAdmin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/moment/moment/develop/src/moment.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/twbs/bootstrap/master/js/collapse.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/twbs/bootstrap/master/js/transition.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/estiloTemplate.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
           
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-left navbar-nav">
              <li class="active">
                <a href="./Admin.aspx">INICIO</a>
              </li>
              <li>
                <a href="./TemplatesAdmin.aspx">New Template</a>
              </li>
              <li>
                <a href="./Signup.aspx">User Resgister</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>

    <div>
        <h3><b>Oficial Template</b></h3><br><br><br>
    </div>
    <div style=" padding-left: 50px; padding-top: 40px; padding-bottom: 5px">
        

        
        <form id="form2" runat="server">

            <asp:Label ID="Label1" runat="server" Text="New Name"></asp:Label>
            <asp:TextBox ID="newName" runat="server"></asp:TextBox>        

             <asp:Panel ID="panelTemplate" runat="server" Width="750px">
             </asp:Panel>
            <b>
                <asp:Button ID="Button1" runat="server" Text="Save" OnClick="Button1_Click" />
                <asp:Button ID="Button2" runat="server" Text="Accept" OnClick="Button2_Click" />
                <asp:Button ID="Button3" runat="server" Text="Print" OnClick="Button3_Click" />
            </b>

            </form>

    
        </div>
    
     <p>
         &nbsp;</p>
    
     <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
        
</body>
</html>



